body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.beautiful {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.experience-item {
  box-shadow: gray 10px 10px 30px;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 10px solid;
  border-radius: 10px;
}
h2 {
  font-size: 250%;
}
.half-width {
  width: 50%;
  padding-left: 50px;
}
.half-width img {
  width: 50%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(developer-portfolio-master/images/top-banner.png);
  background-repeat: no-repeat;
}
.text-align {
  text-align: justify;
}
.download-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 80px;
  border-radius: 5px;
  color: black;
  font-weight: 700;
}
.dream-big {
  background-image: url(developer-portfolio-master/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  background-image: url(developer-portfolio-master/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#web-dev-experience {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan) 30;
  border-image-slice: 1;
}
#full-stack-experience {
  border-left: 10px solid;
  border-image: linear-gradient(salmon, tomato) 30;
  border-image-slice: 1;
}
